* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #generatore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 300px;
  }

 #inizo {
    position: absolute;
    top: 10px;
    justify-content: center;
    order: -1;
 }

  p {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 18px);
    margin-bottom: 10px;
  }
  
  #scrivi-btn {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100% - 18px);
  }
  
  #scrivi-btn:hover {
    background-color: #0056b3;
  }
  
  #numero {
    font-size: 24px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border: 0px;
    padding: 10px;
    width: calc(100% - 22px);
  }
  